<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= @full_name %>
  </p>
  <h4>Boba drink</h4>
  <p>
    <%= @boba_drink %>
  </p>
  <h4>Superhero power</h4>
  <p>
    <%= @superhero_power %>
  </p>
</div>